absl-py
addict
aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
basicsr
certifi
charset-normalizer
colorama
contourpy
cycler
discord.py
dotenv
facexlib
filelock
filterpy
fonttools
frozenlist
fsspec
future
gfpgan
grpcio
idna
ImageIO
importlib_metadata
importlib_resources
Jinja2
kiwisolver
lazy_loader
llvmlite
lmdb
Markdown
MarkupSafe
matplotlib
mpmath
multidict
networkx
numba
numpy
opencv-python
packaging
pillow
platformdirs
propcache
protobuf
pyparsing
python-dateutil
python-dotenv
PyYAML
PyNaCl
realesrgan
requests
scikit-image
scipy
six
sympy
tb-nightly
tensorboard-data-server
tifffile
tomli
torch
torchvision
tqdm
typing_extensions
urllib3
Werkzeug
yapf
yarl
zipp
aiofiles
azure-storage-blob
logging
rich